# Environment
.env.local
dashboard/config.js

# IDEs
.idea/

# Home Assistant
homeassistant_config/*
!homeassistant_config/*.yaml
!homeassistant_config/blueprints/
homeassistant_config/.*
homeassistant_config/*.db
homeassistant_config/*.log*
homeassistant_config/*.fault
homeassistant_config/secrets.yaml

# Mosquitto
mosquitto/data/
mosquitto/log/

# Zigbee2MQTT
zigbee2mqtt/

# Logs
*.log

# OS & Trash
.DS_Store
README.html
